@import url("/node_modules/@tomtom-international/web-sdk-plugin-searchbox/dist/SearchBox.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background: rgba(236, 170, 15, 0.24);
}

a {
  text-decoration: none;
  color: inherit;
}
